/*core look of this page*/
.aboutMePage {
    background-color: darksalmon;
}

.about-blurb-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*grid-template-rows: 100px 300px; idk if this is needed*/
    grid-gap: 10vw;
    padding: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

/*Text that is left to profile pic*/
.about_text {
  font-family: "Helvetica";
}

.profile_pic {
  width: 20w;
  height: 20vw;
}