/*Title Text*/
.titleText {
    color: lavenderblush;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 5vw;

    /*titles will always be formatted like this at the top of each section*/
    text-align: Left;
    padding: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*Regular Text*/
.middleText {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 1.5vw;
    color: #38453f; /*temp color for now.*/
}

/*Small Text*/
.smallText {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 0.5vw;
}

/*navigation bar*/
.navBar {
    list-style-type: none;
    overflow: hidden;
    font-family: "Helvetica";
    height: 4vw;
    position: sticky;
    top:0;
    background-color: lavenderblush;
    /*ugh why doesn't this work nicely?*/
    margin-right: -0.25%;
    margin-left: -0.25%;
    margin-top: -1%;
}
.navBullet {
    font-size: 1.5vw;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    float: right;
}

/*Scroll to the top button*/
.scrollUp {
    color: black;
}

/*Icon links*/
.icon {
    width: 5vw;
    height: 5vw;
}