html {
  scroll-behavior: smooth;
}

body {
  background-color: darksalmon;
}
  
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: maroon;
}
  
.homePage {
  color: lavenderblush;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 8vw;
  text-align: right;
  margin-right: 5vw;
  height: 100vw;
}
  
hr.divider{
  border-top: 1px solid #8c8b8b;
  margin-left: 3vw;
  margin-right: 3vw;
}